*{
    box-sizing: border-box;
}

:root{
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 42%);
    --color-black: hsl(0, 0%, 7%);
}
body{
    font-size: 16px;
    font-family: 'Figtree';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#main-section{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-yellow);
    display: flex;
}
#card{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: 60%;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 10px 10px 3px 0px var(--color-black);
    border: 1px solid;
}
#card *{
    margin-left: 25px;
}
#card-img{
    width: 100%;
    height: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -12px;
    margin-bottom: 10px;
}
#card-img img{
    border-radius: 10px;
    width: 90%;
    height: 90%;
    object-fit: cover;
}
#learning{
    background-color: var(--color-yellow);
    width: 100px;
    height: 30px;
    padding: 6px 10px;
    padding-bottom: 0;
    border-radius: 6px;
    text-align: center;
    font-weight: 800;
}
#title{
    font-weight: 800;
    margin-top: 5px;
}
#title:hover{
    color: var(--color-yellow);
    cursor: pointer;
}
#text{
    width: 90%;
    line-height: 25px;
    margin-top: -5px;
    margin-bottom: 25px;
}
#author{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    font-weight: 800;
    
}
#author img{
    width: 35px;
    height: 35px;
    margin-right: -10px;
}

@media (max-width: 650px){
    #card{
        width: 90%;
        font-size: 16px;
    }
    #main-section{
        width: 100vw;
        height: 100vh;
    }
}